<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="threadCount" value="10"/>
    <add key="jsonPath" value="C:\Users\Ahmet\Desktop\jsons\"/>
    <add key="appPath" value="D:\repos\CryptoExplorer\BlockControl\bin\Debug\netcoreapp3.0\BlockControl.exe"/>
    <add key="appName" value="BlockControl"/>
  </appSettings>
</configuration>